#忽略windows生成的缩略图文件
Thunbs.db
#忽略unity生成的缓存文件
*.meta
Actor/Library/
Actor/Temp/
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.dll
*.[dll]
*.sbr

[Rr]elease*/
_ReSharper*/
Win_lib
*.opensdf
